---
import background from '../assets/background.svg';
import Layout from '../layouts/Layout.astro';
import 'medium-zoom/dist/style.css';
---

<Layout>
  <img id='background' src={background.src} alt='' fetchpriority='high' />

  <article class='container'>
    <h1>Vanilla JavaScript demo</h1>

    <img src='images/image-1.jpg' alt='Zoom 1' />

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora praesentium cupiditate fugit voluptas, rem eligendi, voluptatem
      molestias pariatur atque amet, dicta, similique beatae optio quos! Hic necessitatibus dicta magni, tempore.
    </p>

    <img src='images/image-2.jpg' alt='Zoom 2' />
  </article>
</Layout>
<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }
</style>
<script>
  import mediumZoom from 'medium-zoom';

  mediumZoom('.container img');
</script>
